html {
	background-image: url("background.png");
	background-repeat: no-repeat;
}
.container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: stretch;
	align-items: stretch;
	width: 100%;
	height: 100%;
}
.side {
	width: 200px;
	margin: 40px;
}

.main {
	font-family: 'Bree Serif', serif;
	background-color: rgba(100, 150, 120, 0.2);
	position: absolute;
	min-width: 549px;
	max-width: 550px;
	margin: 8% auto 0;
	text-align: justify;
	color: white;
	text-indent: 20px;
}

.main div {
	padding: 25px;
}

.apps a {
	font-size: 18pt;
	display: block;
	color: white;
	text-decoration: none;
	margin: 5 60;
	padding: 4;
	text-align: middle;
}

.apps a:hover {
	color: yellow;
}
